.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}

strong, b {
  color: rgb(3, 3, 199);
  background-color: rgba(152, 152, 242, 0.10);
}

i, em {
  color: rgb(125, 18, 48) !important;
  background-color: rgba(125, 18, 48, 0.10);
}